body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr  2fr 1.5fr 0.5fr;
    grid-template-areas:"header header header"
                        "tigre tigre tigre"
                        "tigre tigre tigre"
                        "tigre tigre tigre"
                        "footer footer footer";

}
main{
    
    background-color: rgb(223, 222, 222);
    grid-area:tigre;
    height: auto;
}
header{
    background-color: #333;
    color: #c4e783;
    text-align: center;
    padding: 1em;
    grid-area: header;
    height: auto;
}
footer{
    background-color: #333;
    color: #c4e783;
    text-align: center;
    padding: 0.6em 1.2em;
    padding: 1em;
    height: auto;
    grid-area: footer;

}



@media screen and (max-width:768px){
    .body{   
        grid-template-areas:"header header header"
                            "nav   nav     nav"
                            "tigre tigre tigre"
                            "footer footer footer";}
}