{% extends "aplicacion/base.html" %}

{% block content %}
<h2>Entregar tarea: {{ material.nom_material }}</h2>

{% if entrega_existente %}
    <div class="alert alert-info">
    <p>Ya entregaste esta tarea el {{ entrega_existente.fecha_entrega|date:"d/m/Y H:i" }}.</p>
    <a href="{% url 'anular_entrega' entrega_existente.id %}" class="btn btn-sm btn-danger">
        Anular entrega
    </a>
    <a href="{% url 'entregar_tarea' material.pk %}?resubmit=1" class="btn btn-sm btn-primary">
        Volver a enviar
    </a>
    </div>

    {% if allow_resubmit %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Enviar nueva versión</button>
    </form>
    {% endif %}


{% else %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Enviar tarea</button>
    </form>
{% endif %}

<a href="{% url 'detalle_curso' material.id_curso.id %}">Volver al curso</a>
{% endblock %}